{% extends 'base.html.twig' %}
{% block title %}
    DesignHelper | Home
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('navbar') }}
    {{ encore_entry_link_tags('homepage_wrapper') }}
{% endblock %}
{% block body %}
    <div id="app">
    </div>
{% endblock %}
{% block javascripts %}
    {% include 'partials/navbar_script.html.twig' %}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}