#creation-desk {
    width: calc(100% - 8rem);
    height: 30rem;
    background-color: white;
    margin-left: 10rem;
    position: relative;
    border: 1px solid lightgray;
}

#create-menu {
    position: absolute;
    left: 0;
    width: 14rem;
    min-height: 10rem;
    background-color: #5a5a5a;
    border: 1px solid #313131;
    display: flex;
    flex-flow: column wrap;
    z-index: 2;
}

.menu-option {
    color: #cacaca;
    border: 1px solid #313131;
    width: calc(100% - 2px);
    min-height: 2.5rem;
    display: flex;
    padding: 1rem 0 0 0;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    transition: height 5s ease;
}

#side-bar-choice {
    transition: height 5s ease;
}

.chevron {
    width: .7rem;
    margin-left: 1.5rem;
    transition: transform .25s ease;
}

.chevron-reverse {
    transform: rotate(180deg);
}

.design-menu-editor {
    font-size: .85rem;
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px solid #696969;
    background: linear-gradient(180deg, #5a5a5a, #696969);
}

.element-editor-item {
    padding: .2rem;
    border-bottom: 1px solid #313131;
    display: flex;
    justify-content: space-between;
}

#creation-desk nav {
    transition: height .2s ease;
}

.invis {
  display: none;
  height: 0;
}