#navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    height: 4rem;
    background-color: white;
    opacity: .96;
    color: #5a5a5a;
    font-size: 1.4rem;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.60);
    z-index: 900;
}

#navbar>ul {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

#navbar>ul>li {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 2rem;
}

#navbar>ul>li:hover {
    cursor: pointer;
}

#navbar>ul>li>a {
    text-decoration: none;
    color: inherit;
}

#navbar>ul>li>a:hover {
    animation-name: recolor-navbar-on-hover;
    animation-duration: .3s;
    color:black;
}

#navbar>.hamburger {
    display: none;
}

@keyframes recolor-navbar-on-hover {
    from {color:inherit}
    to {color:black}
}

@media only screen and (max-width:720px) {
    #navbar>ul {
        display: none;
    }

    #navbar>.hamburger {
        margin: .7rem;
        display: flex;
        flex-flow: column wrap;
        border: 1px solid #5a5a5a;
        border-radius: .3rem;
        justify-content: space-around;
        align-items: center;
        width: 3rem;
        box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.3);
    }

    #navbar>.hamburger:hover {
        cursor: pointer;
    }

    #navbar .hamburger-bar {
        background-color: #7a7a7a;
        height: 4px;
        width: 75%;
        border-radius: 2px;
        transition: transform .3s ease;
    }

    .rotate1 {
        transform: rotate(45deg);
        margin-bottom: -5rem;
    }

    .rotate2 {
        transform: rotate(135deg);
    }

    .active {
        width: 9.5rem !important;
        display: flex !important;
        flex-flow: nowrap column;
        position: absolute;
        top:10vh;
        animation-name: active-fade-in;
        animation-duration: .2s;
    }

    .active li {
        width: 9rem;
    }

    .active li img {
        display: none;
    }

    .active li a {
        background-color: white;
        padding: .5rem;
        width: 8rem;
        border: 1px solid #5a5a5a;
        border-bottom: 0;
    }

    .active li:last-child {
        border-bottom: 1px solid #5a5a5a;
    }

    .active li a:hover {
        background-color: #d0d0d0;
    }
}

@keyframes active-fade-in {
    from{opacity:0;top:7vh}
    to{opacity:1;top:10vh}
}
