.theme-card {
    display: inline-block;
    padding: 1rem;
    border: 0 solid white;
    border-radius: .5rem;
    box-shadow: 0 0 25px -10px rgba(0,0,0,0.3);
    background-color: white;
    margin: 1rem;
}

.theme-card:hover {
    animation-name: card-darken-on-hover;
    animation-duration: .3s;
    cursor: pointer;
    color: black;
    box-shadow: 0 0 25px -8px rgba(0,0,0,0.4);
}

.theme-card:hover img {
    transform: scale(1.05);
    filter: grayscale(0%);
}

.theme-card>h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

.theme-card img {
    height: 200px;
    width: 200px;
    margin:auto;
    filter: grayscale(7%);
    transition: transform .2s ease;
}

.theme-card-img-wrapper {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.no-themes {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.create-theme-link {
    display: inline-block;
    padding: .8rem;
    background-color: #4caf50;
    border-radius: .3rem;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 0 20px -8px rgba(0,0,0,0.3);
}

.create-theme-link:hover {
    box-shadow: 0 0 25px -5px rgba(0,0,0,0.5);
}

@keyframes card-darken-on-hover {
    from {color:inherit;box-shadow: 0 0 25px -10px rgba(0,0,0,0.3);}
    to {color:black;box-shadow: 0 0 25px -8px rgba(0,0,0,0.4);}
}