.theme-card {
    padding: 1rem;
    border: 0 solid white;
    border-radius: .5rem;
    box-shadow: 0 0 25px -10px rgba(0,0,0,0.3);
    background-color: white;
    margin: 1rem;
}

.theme-card:hover {
    animation-name: card-darken-on-hover;
    animation-duration: .3s;
    cursor: pointer;
    color: black;
    box-shadow: 0 0 25px -8px rgba(0,0,0,0.4);
}

.theme-card>h1 {
    font-family: 'Ubuntu', sans-serif;
}

@keyframes card-darken-on-hover {
    from {color:inherit;box-shadow: 0 0 25px -10px rgba(0,0,0,0.3);}
    to {color:black;box-shadow: 0 0 25px -8px rgba(0,0,0,0.4);}
}